{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<body>

<h1>{% trans "Erwin's Auctions"%}</h1>
<h2>{% trans "It can be anything until you open the box" %}</h2>

<form action="{% url 'auction:search' %}" method="get">
    {% csrf_token %}
    <input type="search" name="term" placeholder="Search auctions">
    <input type="submit" value="Search">
</form>

<ul>
    <li><a href="{% url 'changeLanguage' 'en'%}">English</a></li>
    <li><a href="{% url 'changeLanguage' 'sv'%}">Swedish</a></li>
</ul>

{% if user.is_authenticated %}
    <p>Signed in as {{ user.username }}</p>
    <ul>
        <li><a href="{% url "index" %}">Home</a></li>
        <li><a href="{% url "auction:create" %}">Create Auction</a></li>
        <li><a href="{% url "user:editprofile" %}">Edit profile</a></li>
        <li><a href="{% url "signout" %}">Sign out</a></li>
    </ul>
    {% if request.user.is_superuser%}
        <ul>
            <li><a href="{% url "auction:banned-auctions"%}">Banned auctions</a></li>
        </ul>
    {% endif %}
{% else %}
    <ul>
        <li><a href="{% url "signin" %}">Sign in</a></li>
        <li><a href="{% url "signup" %}">Sign up</a></li>
        <li><a href="{% url "index" %}">Home</a></li>
    </ul>
{% endif %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tag }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% block content %}
{% endblock %}

</body>
</html>