{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Auction</title>
</head>

<body>

    <h2>Edit auction</h2>

    <p><strong>Editing auction: {{ title }}</strong></p>
    <p>Not very secure, I know...</p>

    <form action="{% url "auction:edit-no-signin" id%}" method="post">
        {% csrf_token %}
        <p>Title: {{ title }}</p>
        <p>Description: <textarea name="description" id="body" cols="30" rows="10">{{ description }}</textarea></p>
        <input type="submit" value="Change">
    </form>

</body>
</html>

{% endblock %}