{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Auction</title>
</head>

<body>

    <h2>Edit auction</h2>

    <p><strong>Editing auction: {{ title }}</strong></p>

    <form action="{% url "auction:edit" id%}" method="post">
        {% csrf_token %}
        <p>Title: <input type="text" name="title" id="title" value="{{ title }}"></p>
        <p>Description: <textarea name="description" id="body" cols="30" rows="10">{{ description }}</textarea></p>
        <p>Minimum price (not for editing): {{ minimum_price }}</p>
        <p>Deadline (not for editing): {{ deadline_date }}</p>
        <p>Status (not for editing): {{ status }}</p>
        <input type="submit" value="Change">
    </form>

</body>
</html>

{% endblock %}