{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auctions</title>
</head>

<body>

    <h2>Auctions</h2>

    <p>{{ time }}</p>

    {% for auction in auctions %}
        <h2>{{ auction.title }}</h2>
        <p>{{ auction.id }}</p>
        <p>{{ auction.description }}</p>
        <p>Starting price: {{ auction.minimum_price }}</p>
        <p>Current price: {{ auction.current_price }}</p>
        <p>{{ auction.status }}</p>
        <p>Seller: {{ auction.seller }}</p>
        <p>Deadline: {{ auction.deadline_date }}</p>
        <p>Created: {{ auction.timestamp }}</p>
        <form action="{% url 'auction:bid' auction.id %}" method="post">
            {% csrf_token %}
            <input type="number" min="{{ auction.current_price }}" step="0.01" name="new_price_input" value="{{ auction.current_price }}">
            <input type="submit" value="Bid">
        </form>
        {% if request.user.is_superuser and auction.status == 'Active'%}
            {% csrf_token %}
            <form action="{% url 'auction:ban' auction.id %}" method="post">
            <input type="submit" value="Ban">
        </form>
        {% endif %}
    {% empty %}
        <p>No auctions posted.</p>
    {% endfor %}

</body>
</html>

{% endblock %}